<form action='/hit'>
<<<<<<< HEAD
 <input type='text' name='Coordinate'>
 <input type='submit'>
 <% @return = 'hit' if @coordinate == 'A1'%>
=======
  <input type='text' name='coordinate'>
  <button>submit</button>
>>>>>>> refs/remotes/origin/master
</form>