<form action='/hit'>
  <input type='text' name='coordinate'>
  <button>submit</button>
</form>
<form action='/set_ship'>
  <input type='text' name='location'>
  <input type='text' name='direction'>
  <button>submit</button>
</form>
<div>
ships = <%= @user.board.ships %>
hits = <%= @user.hits.length %>
misses = <%= @user.misses.length %>
game won? <%= @user.lost? %>
</div>