<form action='/play' method='put'>
  <input type='text' name='coordinate'>
  <button>submit</button>
</form>
<form method='post' action='/set_ship'>
  <input type='text' name='location'>
  <input type='text' name='direction'>
  <button>Submit</button>
</form>

<div>
  ships = <%= @player.board.ships.length %>
  hits = <%= @player.hits.length %>
  misses = <%= @player.misses.length %>
  game won? <%= @player.lost? %>
</div>

